.headerblock {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #131313;
  color: white;
  /* height: 3.8rem; */
  margin: 0;
  padding: 0;
}
.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0rem 1rem;
  font-size: 1rem;
}
.griditem1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}
.menusvg {
  color: white;
  width: 2rem;
  height: 1.25rem;
}
.navitems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.84rem;
}
.navitems > div {
  padding: 0 0.5rem;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}
.griditem2 {
  display: flex;
  justify-content: center;
}
.blackbox {
  display: flex;
  justify-content: center;
  height: 3rem;
  width: 7rem;
  background-color: #131313;
  position: relative;
  bottom: -0.75rem;
  border: 1px solid #131313;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  margin-top: 0;
  z-index: 10;
}
.logosvg {
  position: absolute;

  height: 3.2rem;
  top: -0.5rem;
}

.griditem3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
}

.subitemlogin {
  padding: 0.125rem 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 0.84rem;
}

.subitemlock {
  padding-right: 1.5rem;
}
